configs/config node RED/flow_meshtastic_to_atak.json
[
  {
    "id": "mqtt_in_meshtastic",
    "type": "mqtt in",
    "z": "meshtastic_to_atak",
    "name": "Meshtastic Position",
    "topic": "msh/EU_868/telemetry/+/position",
    "qos": "2",
    "datatype": "json",
    "broker": "mqtt-broker-id",
    "x": 140,
    "y": 80,
    "wires": [
      [
        "function_to_cot"
      ]
    ]
  },
  {
    "id": "function_to_cot",
    "type": "function",
    "z": "meshtastic_to_atak",
    "name": "Format COT XML",
    "func": "const topicParts = msg.topic.split('/');\nconst uid = topicParts[3];\nconst lat = msg.payload.latitude;\nconst lon = msg.payload.longitude;\nconst alt = msg.payload.altitude || 0;\nconst callsign = uid;\n\nconst now = new Date();\nconst time = now.toISOString();\nconst stale = new Date(now.getTime() + 5 * 60 * 1000).toISOString(); // +5 min\n\nmsg.payload = `\n<event version=\"2.0\"\n  uid=\"${uid}\"\n  type=\"a-f-G-U-C\" \n  how=\"m-g\"\n  time=\"${time}\"\n  start=\"${time}\"\n  stale=\"${stale}\">\n  <point lat=\"${lat}\" lon=\"${lon}\" hae=\"${alt}\" ce=\"9999999.0\" le=\"9999999.0\"/>\n  <detail>\n    <contact callsign=\"${callsign}\" endpoint=\"tcp-addr\"/>\n    <__group role=\"team-member\" name=\"meshtastic\"/>\n    <takv device=\"android\" version=\"4.3\" os=\"29\"/>\n  </detail>\n</event>`.trim();\n\nmsg.ip = \"192.168.1.100\"; // \u2190 \u00c0 adapter avec l\u2019IP ATAK Android\nmsg.port = 9999;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 80,
    "wires": [
      [
        "udp_out_atak"
      ]
    ]
  },
  {
    "id": "udp_out_atak",
    "type": "udp out",
    "z": "meshtastic_to_atak",
    "name": "Envoi vers ATAK (UDP)",
    "addr": "192.168.1.100",
    "iface": "",
    "port": "9999",
    "ipv": "udp4",
    "base64": false,
    "x": 700,
    "y": 80,
    "wires": []
  }
]